#container {
    height: 600px;
}

#canvasContainer {
    float: left;
    outline: solid thin;
}

#patterns {
    margin-left: 50px;
    outline: solid thin;
    float: left;
}

#patternList {
    list-style-type: none;
    padding: 0;
}

#size {
    margin-left: 50px;
    outline: solid thin;
    float: left;
}

#sizeList {
    list-style-type: none;
    padding: 0;
}

.patternButton {
    width: 100px;
    height: 100px;
    outline: solid thin;
    margin: 15px;
    cursor: pointer;
}

.sizeButton {
    width: 50px;
    height: 50px;
    outline: solid thin;
    margin: 5px;
    cursor: pointer;
}

#colours {
    margin-left: 50px;
    outline: solid thin;
    float: left;
}

.colourButton {
    width: 100px;
    height: 100px;
    margin: 15px;
    cursor: pointer;
}

#colourChangeCanvas {
    display: none;
}

#patternCanvas {
    float:left;
    background-color: beige;
}

#size {
    margin-left: 50px;
    outline: solid thin;
    float: left;
}

#sizeList {
    list-style-type: none;
    padding: 0;
}

.sizeButton {
    width: 50px;
    height: 50px;
    outline: solid thin;
    margin: 5px;
    cursor: pointer;
}

#canvas3dPrepare {

}

#patternCanvas {
    display: none;
}

#3dCanvas {
    float: left;
}

#canvas {
    float:left;
}