#container {
    background-color: ivory;
    height: 600px;
}

#canvasContainer {
    float: left;
    outline: solid thin;
}

#patterns {
    margin-left: 50px;
    outline: solid thin;
    float: left;
}

#patternList {
    list-style-type: none;
    padding: 0;
}

.patternButton {
    width: 100px;
    height: 100px;
    outline: solid thin;
    margin: 15px;
    cursor: pointer;
}

#colours {
    margin-top: 25px;
    margin-left: 50px;
    outline: solid thin;
    float: left;
}

.colourButton {
    width: 100px;
    height: 100px;
    margin: 15px;
    cursor: pointer;
}

#colourChangeCanvas {
    display: none;
}